# Ignore MacOS system files
### MacOS ###
.DS_Store

# Ignore Python compiled files
### Python ###
*.pyc

# Ignore Ansible files
### Ansible ###
/backup.lock

# Ignore host variables except .gitkeep
# Vars
/inventories/host_vars/*
!/inventories/host_vars/.gitkeep

# Ignore role variables
/roles/*/vars/*

# Ignore various configuration files
# Settings
/ansible.cfg
/accounts.yml
/adv_settings.yml
/backup_config.yml
/backup_excludes_list.txt
/hetzner_nfs.yml
/providers.yml
/rclone.conf
/settings.yml

# Ignore miscellaneous files and directories
### Misc ###
/.idea
/*.log
/*.log.*
.vscode/settings.json
