file_uploads = {{ FILE_UPLLOADS | default("On") }}
memory_limit = {{ MEMORY_LIMIT | default("500M") }}
upload_max_filesize = {{ UPLOAD_MAX_FILESIZE | default("150M") }}
post_max_size = {{ POST_MAX_SIZE | default("500M") }}
max_execution_time = {{ MAX_EXECUTION_TIME | default("600") }}
