# /etc/systemd/system/{{ cloudplow_service_name }}.service
#########################################################################
# Title:         Bizbox: Node Exporter Service                         #
# Author(s):     salty                                                  #
# URL:           https://github.com/jeremiahg7/Bizbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=Node Exporter
After=network-online.target

[Service]
User={{ user.name }}
Group={{ user.name }}
Type=simple
ExecStart={{ node_exporter_path }}/node_exporter --collector.systemd --collector.processes --web.listen-address="172.19.0.1:9100"
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
