################ SMTP CONFIG FILE ################
MAIL_MAILER=smtp
MAIL_HOST=Server
MAIL_PORT=465
MAIL_USERNAME=Mail username
MAIL_PASSWORD=Pssw
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=Email
MAIL_FROM_NAME=Name

