#########################################################################
# Title:         Bizbox: Cloudflare | Subdomains Task                  #
# Author(s):     desimaniac, salty                                      #
# URL:           https://github.com/GrecoTechnology/Bizbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
## Add 'bizbox_type' subdomain
- name: "Cloudflare | Subdomains | Add '{{ bizbox_type }}' subdomain to '{{ fld.stdout }}'"
  ansible.builtin.import_tasks: "subdomains/add_subdomain.yml"

## Remove 'bizbox' subdomain for Mediabox/Feederbox setups.
- name: "Cloudflare | Subdomains | Remove 'bizbox' subdomain from '{{ fld.stdout }}'"
  ansible.builtin.import_tasks: "subdomains/remove_subdomain.yml"
  when: bizbox_type is regex('mediabox|feederbox')
